/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background: linear-gradient(to top,  #324851, #34675c 10%, #7da3a1 80%);

    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #222;
}